<link rel="stylesheet" href="../static/css/home.css">
<div class="taskBar">
    <div class="taskBarLogo">InsightRush.</div>
    <div class="spaceBetween"></div>
    <div class="buttons">
        <a href="{{ url_for('index') }}"><button class="homeButton">Home</button></a>
        <a href="{{ url_for('history') }}"><button class="homeButton">History</button></a>
        <a href="https://github.com/RameezAkther/InsightRush_AIPoweredProductReviewer" target="_blank"><button class="docButton">Documentation</button></a>
        <a href="https://drive.google.com/drive/folders/1UTgXACEFKc5onzHnD3lhD2tKpGgBXBTb?usp=sharing" target="_blank"><button class="sourceButton">Source Code</button></a>
    </div>
</div>